*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.color-orange{
    color: #FD6E0A;
}

.btn{
    background-color: #FD6E0A;
    color: white;
    padding: 15px 32px;
    outline: auto;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
.btn:hover{
 background-color: #fe842d;
}


header{
    width: 100vw;
    background-color: #FFF8F3;
}

nav{
    width: 71%;
    max-width: 1095px;
    padding-top: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoname h1{
    font-size: 40px;
    font-weight: 800;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 18px;
    color: #474747;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
}