*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* common styles */

body{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.fixed-width{
    width: 71%;
    max-width: 1095px;
}

.color-orange{
    color: #FD6E0A;
}

.btn{
    background-color: #FD6E0A;
    color: white;
    padding: 15px 32px;
    outline: none;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.btn:hover{
 background-color: #fe842d;
}



/* main styles */

header{
    width: 100%;
    background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;
    background-position: 23px 30px , bottom right;
    background-repeat: no-repeat;
}

nav{
    padding-top: 40px;
    margin: 0 auto;
    margin-bottom: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoname h2{
    font-size: 40px;
    font-weight: 800;
}
nav ul{
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 18px;
    color: #474747;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
}

.banner{
    max-width: 1279px;
    height: 676px;
    margin: 0 38px 0 230px;
    display: flex;
    align-items: center;
}
.banner-content h4{
    font-size: 40px;
    font-weight: 600;
    color: #474747;
}
.banner-content h1{
    font-size: 80px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 15px;
}
.banner-content p{
    font-size: 17px;
    color: #757575;
    margin-bottom: 25px;
    line-height: 30px;
    width: 70%;
}
.btn2{
    background-color: transparent;
    color: #FD6E0A;
    padding: 15px 32px;
    margin-left: 25px;
    outline: auto;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.btn2:hover{
    background-color: #FD6E0A;
    color: aliceblue;
}

.banner-image img{
    max-width: 585px;
    vertical-align: middle;
}

.about{
    padding-top: 130px;
}
.about-container{
    background-color: #FFF8F3;
    padding: 130px 157px;
    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
}
.about-container h2{
    font-size: 30px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 25px;
}
.about-container p{
    font-size: 16px;
    color: #757575;
    margin-bottom: 25px;
}

.personal-info{
    display: flex;
    gap: 50px;
    justify-content: center;
}
.personal-info-box h5{
    font-size: 16px;
    font-weight: 400;
    color: #757575;
}
.personal-info-box h4{
    font-size: 18px;
    font-weight: bold;
    color: #474747;
}


.works{
    padding-top: 130px;
}
.works-container{
    margin: 0 auto;
    text-align: center;
}
.works-container h2{
    font-size: 30px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 25px;
}
.works-container p{
    max-width: 800px;
    margin: 0 auto;
    font-size: 16px;
    color: #757575;
    margin-bottom: 50px;
}

.card-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.card{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 6px 50px 0 #0000000e;
    text-align: left;
}
.card img{
    margin-bottom: 30px;
}
.card h3{
    font-size: 18px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
.card p{
    font-size: 16x;
    color: #757575;
    line-height: 28px;
    margin: 0;
}